<div class='page-header'>
	<h1 class='text-center'>
		Source of Truth<br>
		<small>Get Your Syntax Right so You can Stop Coding and Start Sleeping!</small>
	</h1>
</div>

<h2 class='text-center'>Search for a Programming Statement</h2><br>
<form class="navbar-form" role="search" ng-submit="LinkToStatement()">
	<div class="form-group" style="display:inline;">
	  <div class="input-group">
	    <span style="width: 1%;" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
	    <input class="form-control" name="search" ng-model="search.name" placeholder="Search" autofocus type="text" autocomplete="off">
	  </div>
	    <table class="table table-bordered" ng-show="search.name.length">
	      	<tr ng-repeat="statement in allStatements.$$state.value.data | filter:search:strict">
	  			<td ng-click="linkToStatement(statement.name)"><a href="/statements/{{ statement.name }}">{{ statement.name }}</a></td>
	  		</tr>
		</table>
	</div>
</form>