<div class="container-fluid">
	<ul class="nav navbar-nav navbar-fixed-top">
		<div class="container">
			<div class="row">
			    <div class="col-md-10 col-md-offset-1">
			    	<form class="navbar-form" role="search" ng-submit="LinkToStatement()">
			    		<div class="form-group" style="display:inline;">
			    		  <div class="input-group">
			    		    <span style="width: 1%;" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			    		    <input class="form-control" name="search" ng-model="searchStatement.name" placeholder="Search for a Basic Programming Statement" autocomplete="off" autofocus="autofocus" type="text">
			    		  </div>
			    		</div>
			    	</form>
			    </div>
			</div>
		</div>
	</ul>
</div>
<div class="page-header">
	<h3>{{ statement.$$state.value.data.statement.name }} Statements</h3>
	<h4><a ng-href='{{ statement.$$state.value.data.statement.info_link }}'>Wikipedia</a></h4>
</div>
<div>
	<ul class="list-unstyled">
		<li ng-repeat="language in statement.$$state.value.data.language track by $index">
			<h4>{{ language.name }}</h4>
			<h5><a ng-href='{{ language.convention_link }}'>Coding Conventions</a></h5>
			<pre>{{ statement.$$state.value.data.example[$index].text }}</pre>
			<br>
		</li>
	</ul>
</div>
