<div class="container-fluid">
	<ul class="nav navbar-nav navbar-fixed-top">
		<div class="container">
			<div class="row">
			    <div class="col-md-10 col-md-offset-1">
			    	<form class="navbar-form" role="search" ng-submit="LinkToStatement()">
			    		<div class="form-group" style="display:inline;">
			    		  <div class="input-group">
			    		    <span style="width: 1%;" class="input-group-addon"><span class="fa fa-search"></span></span>
			    		    <input class="form-control" name="search" ng-model="search.name" placeholder="Search" autofocus type="text" autocomplete="off">
			    		  </div>
			    		    <table class="table table-bordered" ng-show="search.name.length">
			    		      	<tr ng-repeat="statement in allStatements.$$state.value.data | filter:search:strict">
			    		  			<td ng-click="linkToStatement(statement.name)"><a href="/statements/{{ statement.name }}">{{ statement.name }}</a></td>
			    		  		</tr>
			    			</table>
			    		</div>
			    	</form>
			    </div>
			</div>
		</div>
	</ul>
</div>
<div class="page-header">
	<h2>{{ statement.$$state.value.data.statement.name }} Statements</h2>
	<h3><a ng-href='{{ statement.$$state.value.data.statement.info_link }}'>Visit Wikipedia for a quick refresher on how {{ statement.$$state.value.data.statement.name }} statements work.</a></h3>
</div>
<div>
	<ul class="list-unstyled">
		<li ng-repeat="language in statement.$$state.value.data.language track by $index">
			<div>
				<img class="img-rounded text-left" ng-src="{{ language.name.toLowerCase() }}.png" alt='{{ language.name }} Logo'/>
			</div>
			<div class="example-header">
				<h3>{{ language.name }}</h3>
				<h4><a ng-href='{{ language.convention_link }}'>{{ language.name }} Coding Conventions</a></h4>
			</div>
			<div class="example-body">
				<pre class="brush: {{ language.name.toLowerCase() }}">{{ statement.$$state.value.data.example[$index].text }}</pre>
			</div>
			<br>
		</li>
	</ul>
</div>

<script type="text/javascript">
    SyntaxHighlighter.all()
</script>