<!DOCTYPE html>
<html>
	<head>
		<title>Source of Truth</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="/">
	</head>
	<body ng-app="sourceOfTruth">

		<!-- <div id="sidebar-wrapper">
		    <ul class="sidebar-nav">
		        <li class="sidebar-brand">
		            <a href="#">
		                Programming Statements
		            </a>
		        </li>
		        <li>
		            <a href="/statements/if">if</a>
		        </li>
		        <li>
		            <a href="/statements/for">for</a>
		        </li>
		        <li>
		            <a href="/statements/while">while</a>
		        </li>
		    </ul>
		</div> -->
		<div class="container-fluid">
			<div class="row">
			    <div class="col-md-8 col-md-offset-2">
			    	<ui-view></ui-view>
			    </div>
			</div>
		</div>
	</body>
</html>