<!DOCTYPE html>
<html>
	<head>
		<title>Sourceoftruth</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
		<base href="/">
	</head>
	<body ng-app="sourceOfTruth">

		<div id="sidebar-wrapper">
		    <ul class="sidebar-nav">
		        <li class="sidebar-brand">
		            <a href="#">
		                Programming Statements
		            </a>
		        </li>
		        <li>
		            <a href="/statements/0">if</a>
		        </li>
		        <li>
		            <a href="/statements/1">for</a>
		        </li>
		        <li>
		            <a href="/statements/2">while</a>
		        </li>
		    </ul>
		</div>

		<div class="row">
		    <div class="col-md-6 col-md-offset-3">
		    	<ui-view></ui-view>
		    </div>
		</div>
	</body>
</html>